@model Covid19.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<div class="page-heading">
    <h3>
        العناية المركزة
    </h3>
    <ul class="breadcrumb">
        <li>
            <a asp-controller="Patients" asp-action="Index">كل الحالات</a>
        </li>

    </ul>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    تفاصيل الحالة
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>

                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">

                        <ul class="p-info">
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.hospital)</div>
                                <div class="desk">@Html.DisplayFor(model => model.hospital.HName)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.PName)</div>
                                <div class="desk">@Html.DisplayFor(model => model.PName)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.NationalId)</div>
                                <div class="desk"> @Html.DisplayFor(model => model.NationalId)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.Age)</div>
                                <div class="desk">@Html.DisplayFor(model => model.Age)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.Job)</div>
                                <div class="desk">@Html.DisplayFor(model => model.Job)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.Address)</div>
                                <div class="desk">@Html.DisplayFor(model => model.Address)</div>
                            </li>
                            <li class="panel">
                                <div class="title"> @Html.DisplayNameFor(model => model.TicketNumber)</div>
                                <div class="desk">@Html.DisplayFor(model => model.TicketNumber)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.EnterDate)</div>
                                <div class="desk"> @Html.DisplayFor(model => model.EnterDate)</div>
                            </li>
                            <li class="panel">
                                <div class="title">@Html.DisplayNameFor(model => model.Onvent)</div>
                                <div class="desk"> @Html.DisplayFor(model => model.Onvent)</div>
                            </li>
                            <li class="panel">
                                <div class="title"> @Html.DisplayNameFor(model => model.Report)</div>
                                <div class="desk"><textarea rows="12" style="color: #65cea7;background-color: #fff; border: none;" disabled class="form-control">@Html.DisplayFor(model => model.Report)</textarea></div>
                            </li>
                            <li class="panel">
                                <div class="title"> @Html.DisplayNameFor(model => model.StatusID)</div>
                                <div class="desk"><span class="@Html.DisplayFor(model => model.Statusclass)"> @Html.DisplayFor(model => model.StatusName)</span></div>
                            </li>
                            <li class="panel" style="@ViewData["Divhide"]">
                                <div class="title">@Html.DisplayNameFor(model => model.ExitDate)</div>
                                <div class="desk"> @Html.DisplayFor(model => model.ExitDate)</div>
                            </li>

                        </ul>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                 
                                <a asp-action="Index" class="btn btn-info btn-lg btn-block">عودة</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


