@model IEnumerable<Covid19.Models.homestatistics>
@{
    ViewData["Title"] = "الرئيسية";
}

<!-- main content start-->
<!-- page heading start-->
<div class="page-heading">
    @ViewData["hname"]
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row states-info">
        <div class="col-md-3">
            <div class="panel red-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-bars"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title"> اجمالى الأسرة </span>
                            <h4>@ViewData["totalbes"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel blue-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title"> الأسرة الشاغرة  </span>
                            <h4>@ViewData["freebeds"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel green-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">اجمالى أجهزة التنفس</span>
                            <h4>@ViewData["totalvent"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel yellow-bg">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <div class="col-xs-8">
                            <span class="state-title">أجهزة التنفس لشاغرة</span>
                            <h4>@ViewData["freevent"]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    @*<div class="row revenue-states">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h4>Monthly revenue report</h4>
                            <div class="icheck">
                                <div class="square-red single-row">
                                    <div class="checkbox ">
                                        <input type="checkbox" checked>
                                        <label>Online</label>
                                    </div>
                                </div>
                                <div class="square-blue single-row">
                                    <div class="checkbox ">
                                        <input type="checkbox">
                                        <label>Offline </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul class="revenue-nav">
                                <li><a href="#">weekly</a></li>
                                <li><a href="#">monthly</a></li>
                                <li class="active"><a href="#">yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="clearfix">
                                <div id="main-chart-legend" class="pull-right">
                                </div>
                            </div>

                            <div id="main-chart">
                                <div id="main-chart-container" class="main-chart">
                                </div>
                            </div>
                            <ul class="revenue-short-info">
                                <li>
                                    <h1 class="red">15%</h1>
                                    <p>Server Load</p>
                                </li>
                                <li>
                                    <h1 class="purple">30%</h1>
                                    <p>Disk Space</p>
                                </li>
                                <li>
                                    <h1 class="green">84%</h1>
                                    <p>Transferred</p>
                                </li>
                                <li>
                                    <h1 class="blue">28%</h1>
                                    <p>Temperature</p>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <header class="panel-heading">
                    معدلات الاشغال
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <ul class="goal-progress">
                        @foreach (var item in Model)
                        {

                            <li>
                                <div class="prog-avatar">
                                    <img src="~/images/@Html.DisplayFor(modelItem => item.bedicon)" alt="" />
                                </div>
                                <div class="details">
                                    <div class="title">
                                        <a href="#">@Html.DisplayFor(modelItem => item.hospitaname)</a> - @Html.DisplayFor(modelItem => item.subtitle)
                                    </div>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-@Html.DisplayFor(modelItem => item.classname)" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: @Html.DisplayFor(modelItem => item.percentage)%">
                                            <span class="">@Html.DisplayFor(modelItem => item.percentage)%</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                   
                       
                       
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!--body wrapper end-->
<!--footer section start-->
<footer class="sticky-footer">
    <p style="direction: ltr; text-align: center; ">Copyrights © 2020 All Rights Reserved by <a style="text-decoration: underline;" href="https://semicolon-tec.com/" target="_blank" rel="noopener noreferrer">SEMICOLON FOR TECHNOLOGY.</a></p>
</footer>
<!--footer section end-->
</div>
<!-- main content end-->
