@using Covid19.Helper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Covid19 ICU</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@


    <!--icheck-->
    <link href="~/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="~/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="~/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="~/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/js/morris-chart/morris.css">

    <link href="~/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="~/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/data-tables/DT_bootstrap.css" />

    <link rel="~/shortcut icon" href="#" type="image/png">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">

</head>

<body class="sticky-header">
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="index.html"><img src="~/images/logo.png" alt=""></a>
            </div>

            <div class="logo-icon text-center">
                <a href="index.html"><img src="~/images/logo_icon.png" alt=""></a>
            </div>
            <!--logo and iconic logo end-->

            <div class="left-side-inner">
                <!-- visible to small devices only -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media logged-user">
                        <img alt="" src="~/images/photos/user-avatar.png" class="media-object">
                        <div class="media-body">
                            <h4><a href="#">@User.Identity.Name</a></h4>
                            <span>"مرحباً..."</span>
                        </div>
                    </div>

                    <h5 class="left-nav-title">بيانات الحساب</h5>
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fa fa-user"></i>تغيير كلمة المرور</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-cog"></i>تعديل البيانات الشخصية</a></li>

                        <li>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <i class="fa fa-sign-out"></i> <button id="logout" type="submit" class="btntransparnt">تسجيل الخروج</button>
                            </form>
                        </li>
                        
                    </ul>
                </div>

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="menu-list @Html.IsMainActive("Patients")" >
                        <a href="index.html"><i class="fa fa-home"></i> <span>الرئيسية</span></a>
                        <ul class="sub-menu-list">
                            <li class="@Html.IsActive("Patients","Create")"><a asp-controller="Patients" asp-action="Create"> حالة جديدة</a></li>
                            <li class="@Html.IsActive("Patients","Index")"><a asp-controller="Patients" asp-action="Index">كل الحالات</a></li>
                        </ul>
                    </li>
                    <li class="menu-list @Html.IsMainActive("Reports")" >
                        <a href=""><i class="fa fa-laptop"></i> <span>التقارير</span></a>
                        <ul class="sub-menu-list">
                            <li class="@Html.IsActive("Reports","Index")" ><a href="blank_page.html">تقرير اجمالى الحالات</a></li>
                            <li class="@Html.IsActive("Reports","Index")"><a href="boxed_view.html">تقرير حالات الوفيات</a></li>
                            <li class="@Html.IsActive("Reports","Index")"><a href="leftmenu_collapsed_view.html">تقرير الاسرة</a></li>


                        </ul>
                    </li>
                    <li class="menu-list @Html.IsMainActive("Hospitals")" >
                        <a href=""><i class="fa fa-cogs"></i> <span>اعدادات المستشفيات</span></a>
                        <ul class="sub-menu-list">
                            <li class="@Html.IsActive("Hospitals","Create")"><a asp-controller="Hospitals" asp-action="Create">اضافة جديد</a></li>
                            <li class="@Html.IsActive("Hospitals","Index")"><a asp-controller="Hospitals" asp-action="Index">المستشفيات</a></li>

                        </ul>
                    </li>
                    <li class="menu-list @Html.IsMainActive("Identity") @Html.IsMainActive("ApplicationUsers")" >
                        <a href=""><i class="fa fa-users"></i> <span>المستخدمين</span></a>
                        <ul class="sub-menu-list">
                            <li class="@Html.IsActive("Identity","/Account/Register")"><a asp-area="Identity" asp-page="/Account/Register" > اضافة مستخدم</a></li>
                            <li class="@Html.IsActive("ApplicationUsers","Index")"><a asp-controller="ApplicationUsers" asp-action="Index">ادارة المستخدمين</a></li>


                        </ul>
                    </li>

                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <!-- left side end-->
        <div class="main-content">

            <!-- header section start-->
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->
                <!--search start-->
                <form class="searchform" action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="بحث..." />
                </form>
                <!--search end-->
                <!--notification menu start -->
                <div class="menu-right">
                    <ul class="notification-menu">
                       
                        <li>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/photos/user-avatar.png" alt="" />
                                @User.Identity.Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="fa fa-user"></i>تغيير كلمة المرور</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-cog"></i>تعديل البيانات الشخصية</a></li>
                               
                            <li>
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <i class="fa fa-sign-out"></i> <button id="logout" type="submit" class="btntransparnt">تسجيل الخروج</button>
                                </form>
                            </li>
                                
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--notification menu end -->

            </div>
            <!-- header section end-->
            @RenderBody()

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/js/jquery-1.10.2.min.js" charset="UTF-8"></script>
    <script src="~/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <!--easy pie chart-->
    <script src="~/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/js/easypiechart/easypiechart-init.js"></script>

    <!--Sparkline Chart-->
    <script src="~/js/sparkline/jquery.sparkline.js"></script>
    <script src="~/js/sparkline/sparkline-init.js"></script>

    <!--icheck -->
    <script src="~/js/iCheck/jquery.icheck.js"></script>
    <script src="~/js/icheck-init.js"></script>

    <!-- jQuery Flot Chart-->
    <script src="~/js/flot-chart/jquery.flot.js"></script>
    <script src="~/js/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="~/js/flot-chart/jquery.flot.resize.js"></script>


    <!--Morris Chart-->
    <script src="~/js/morris-chart/morris.js"></script>
    <script src="~/js/morris-chart/raphael-min.js"></script>
    <!--Dashboard Charts-->
    <script src="~/dashboard-chart-init.js"></script>
    <!--Calendar-->
    <script src="~/js/calendar/clndr.js"></script>
    <script src="~/js/calendar/evnt.calendar.init.js"></script>
    <script src="~/js/calendar/moment-2.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <!--dynamic table-->
    <script type="text/javascript"  charset="utf-8" language="javascript" src="~/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript"  charset="utf-8" src="~/js/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="~/js/dynamic_table_init.js"  charset="utf-8"></script>
    <!--common scripts for all pages-->
    <script src="~/js/scripts.js" ></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
